@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300&family=Josefin+Sans:wght@100;200;300;400&family=Poppins:wght@100;200;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Home-content{

    background-color:rgb(248 250 252);
    /* height: 80vh; */
}
.title{
    font-weight: bold;
    color: lightsteelblue;
}
.card-container{
    font-family: Arial, Helvetica, sans-serif;
    width: 300px;
    height: auto;
    position: absolute;
    top: 170px;
    right: 0;
    z-index: 888;
    margin-right: 450px;
    background-color: rgba(0, 0, 0, 0.5);

}
.header-card{
    font-weight: 500;
    line-height: 1.1;
    display: block;
    margin-block-start: 0.65em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

}
.card-container h1 span{
    position: absolute;
    top: -3px;
    left: 85px;
    /* display: block; */
    text-transform: uppercase;
    /* font-size: 1.4rem; */
    color:white;
    /* letter-spacing: 3px; */


}
.mybtn{
    position: absolute;
    left: 90px;
    text-align: center;
}



