@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@100;200;300&family=Josefin+Sans:wght@100;200;300;400&family=Poppins:wght@100;200;300;400&family=Roboto:ital,wght@0,100;0,300;0,400;1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.signup-container {
  font-family: "Josefin Sans", sans-serif;
  padding: 8rem;
  width: 100%;
 
}

/* .card-container-data {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
.signup-button {
  background-color: #2353CF;
  line-height: 30px;
  padding: 5px;
  gap: 10px;
  border-radius: 20px;
  width: 171px;
  height: 40px;
}
.create-account-container {
  width: 310px;
  height: 36px;
  font-family: "Josefin Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 16px;
  color: #000000;
}
