
.content-SignIn{
 height: 90vh;

}
.pic-SigIn{
  margin: 12%;
  padding-top: 2px;
}
.form-card{
 margin: 10%;
}
.content-SignIn{
 height: 70vh;
}
.btn{
  background-color: blue;
  border-radius: 15px;
  width: 150px;
}
